<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SimpleUrlShortener with custom alias</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <br>
        <h1>Hello, SimpleUrlShortener!</h1>
        <br><hr>
        <br><br>

        <div class="container">
            <form class="form-inline">
                <input id="url-field" type="text" class="form-control" placeholder="looooooooong url:(" >
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">@</div>
                    <input id="alias-field" type="text" class="form-control" placeholder="alias">
                </div>

                <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> use custom alias (if available)
                    </label>
                </div>

                <button type="button" class="btn btn-primary btn-make" id="btn-make">Submit</button>
            </form>

            <div id="result" class="row"></div>
        </div>

        <div class="footer">
            <hr>
            <p>SimpleUrlShortener - 1st Personal Project</p>
            <p>Made by <a href="https://pyxisdev.github.io">WindSekirun</a></p>
            <p>Source deployed in <a href="https://github.com/WindSekirun/SimpleUrlShortener">Github</a></p>
        </div>
        
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="javascripts/bootstrapAlert.min.js"></script>
    </body>
</html>